
.container {
  width: 70%;
}
.new-tweet {
  background-color: #f4f1ec;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.tweet-text {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #5f5c53;
  font-weight: 600;
}

.tweet-text label {
z-index:10;
position: absolute;
width: 100%;
}

.tweet-text label:hover {
  color: transparent;
}

.tweet-text label:focus {
  color: transparent;
}

.tweet-text textarea {
  height: 40px;
  background-color: transparent;
  color: #5f5c53;
  border: none;
  resize: none;
  outline: none;
}

.buttonCounter {
  font-family: "Bungee";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.buttonCounter button {
  background-color: #4056A1;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  height: 40px;
  width: 90px;
}

.buttonCounter output {
  margin-right: 10px;
}
/*

*/